/*
  Old Liminal
  [2020 Wikidot Theme]
  by Lynch & Etoile
 
  Localized by SOYA-001, R74, Einoshima & AF_XLI
*/
 
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Noto+Serif+JP:wght@400;700&display=swap");

@import url("./normalized.css");
@import url("./bhl-archived.css");
@import url("../../util/common/wikisys/style/style.css");
@import url("./super-liminal-variable.css");
@import url("./sidebar.css");
@import url("../../util/common/credit/style/style.css");
@import url("../../util/common/image-block/style/style.css");
@import url("../../modules/colstyle.min.css");
@import url("../../util/main/styles/fantasque-sans-mono.css");
@import url("../../util/main/styles/font-awesome.min.css");
 
:root {
  --theme-base: "black-highlighter";
  --theme-id: "old-liminal";
  --theme-name: "Old Liminal";
 
  --logo-image: url("../../image/logo.svg");
  --header-title: "The Backrooms JP";
  --header-subtitle: "ようこそ、再訪の空間へ。";
 
  --body-font: "Noto Sans JP", Verdana, Arial, Helvetica, sans-serif;
  --header-font: "Fantasque Sans Mono", monospace;
  --title-font: "Fantasque Sans Mono", "Noto Sans JP", "Trebuchet MS", Trebuchet, Verdana, Arial, Helvetica;
  --mono-font: "Fantasque Sans Mono", monospace;
 
  --white-monochrome: 237, 233, 223;
  --pale-gray-monochrome: 255, 251, 240;
  --light-gray-monochrome: 160, 160, 160;
  --gray-monochrome: 72, 69, 60;
  --black-monochrome: 25, 20, 16;
  --bright-accent: 140, 136, 126;
  --medium-accent: 72, 69, 60;
  --dark-accent: 140, 136, 126;
  --pale-accent: 165, 143, 96;
 
  --swatch-topmenu-border-color: var(--medium-accent);
 
  --hover-link-color: var(--pale-accent);
 
  --background-gradient-distance: 0rem;
 
  --gradient-header: linear-gradient(to top, rgba(var(--medium-accent)) 0%, rgba(var(--medium-accent), 0.90) 100%);
  --diagonal-stripes: linear-gradient(transparent 0);
}
 
body#html-body {
  overflow-x: hidden;
}
 
#skrollr-body {
  width: 100%;
  height: 7.5rem;
  background-image: radial-gradient(circle, rgb(var(--medium-accent)) 50%, transparent 0);
  background-repeat: repeat;
  background-size: 0.25em 0.25em;
}
 
#container {
  background-image: radial-gradient(circle, rgb(var(--medium-accent), 0.05) 50%, transparent 0);
  background-attachment: fixed;
  background-repeat: repeat;
  background-size: 0.25em 0.25em;
}
 
#side-bar .side-block div a img {
  filter: grayscale(100%);
}
 
div#page-options-bottom > a,
div#page-options-bottom-2 > a {
  border: none;
  border-radius: 0;
  -moz-border-radius: 0;
}
 
div#page-options-bottom > a:active,
div#page-options-bottom > a:hover,
div#page-options-bottom-2 > a:active,
div#page-options-bottom-2 > a:hover {
  border: none;
}
 
#header,
#top-bar {
  background-attachment: scroll;
}
 
#header {
  background-image: none;
}
 
#header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: var(--logo-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 7rem;
  opacity: 0.3;
}
 
#header h1,
#header h1 a {
  position: absolute;
  top: 1rem;
  z-index: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0;
}
 
#header h2,
#header h2 span,
#header h2 span::before {
  position: absolute;
  top: 2rem;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0;
}
 
#header h1 a::before,
#header h2 span::before {
  text-shadow: 0.063rem 0.1rem 0.1rem rgb(12, 12, 12);
}
 
#search-top-box-input {
  display: none;
}
 
a.newpage {
  background: transparent;
  color: rgb(var(--newpage-color));
  text-decoration: none;
}
 
blockquote,
div.blockquote,
.lightblock,
.darkblock,
.styled-quote,
.dark-styled-quote {
  box-shadow: 0.05rem 0.1rem 0.3rem rgba(0, 0, 0, 0.25);
}
 
.lightblock,
.darkblock,
.styled-quote,
.dark-styled-quote {
  margin: 0.5rem 0 0.5rem 0.25rem;
  padding: 0.01rem 1rem;
}
 
.lightblock {
  background-color: rgb(var(--white-monochrome));
}
 
.darkblock,
.dark-styled-quote {
  background-color: rgb(var(--gray-monochrome));
  color: rgb(var(--white-monochrome));
}
 
.styled-quote {
  background-color: rgb(var(--pale-gray-monochrome));
  border-left: 0.5rem solid rgba(var(--gray-monochrome));
}
 
.dark-styled-quote {
  border-left: 0.5rem solid rgba(var(--pale-gray-monochrome));
}
 
.dark-styled-quote a {
  color: rgb(var(--swatch-menubg-medium-color));
}