/*
  From Super Liminal
  Wikidot Theme 2024
  by Ambersight
*/
 
:root {
  --background-color: var(--white-monochrome);
  --text-color: var(--black-monochrome);
 
  --light-color-1: var(--background-color);
  --light-color-2: var(--pale-gray-monochrome);
  --dark-color-3: var(--gray-monochrome);
 
  --warning-color: 193, 44, 50;
  --accept-color: 20, 169, 32;
  --cancel-color: 200, 200, 200;
  --warning-text-color: var(--light-color-2);
  --accept-text-color: var(--warning-text-color);
  --neutral-text-color: var(--warning-text-color);
 
  --general-light-background-color: var(--light-color-2);
  --general-light-text-color: var(--text-color);
  --general-dark-background-color: var(--dark-color-3);
  --general-dark-text-color: var(--light-color-1);
  --general-shadow-color: var(--text-color);
  --general-light-border-color: var(--dark-color-3), 0.08;
  --general-medium-border-color: var(--dark-color-3), 0.2;
  --general-strong-border-color: var(--dark-color-3), 0.5;
  --general-dark-border-color: var(--dark-color-3);
  --general-transition-time-slow: 0.3s;
  --general-blur: 0.15rem;
 
  --sidebar-background-color: var(--light-color-1);
  --sidebar-title-background-color: var(--general-dark-background-color), 0.5;
  --sidebar-title-text-color: var(--general-dark-text-color);
  --sidebar-title-shadow-color: var(--general-shadow-color);
  --sidebar-text-color: var(--text-color);
  --sidebar-hover-text-color: var(--sidebar-text-color);
    --sidebar-border-color: var(--general-light-border-color);
    --sidebar-hover-background-color: var(--text-color), 0.15;
 
  --imageblock-caption-background-color: var(--general-light-background-color);
  --imageblock-caption-text-color: var(--general-light-text-color);
  --imageblock-shadow-color: 0, 0, 0, 0;
  --imageblock-border-color: var(--general-medium-border-color);
 
  --popup-fader-color:   var(--general-shadow-color), 0.65;
  --popup-background-color: var(--general-light-background-color);
  --popup-text-color: var(--general-light-text-color);
  --popup-title-background-color: var(--general-dark-background-color);
  --popup-title-text-color: var(--general-dark-text-color);
  --popup-border-color: var(--general-strong-border-color);
  --popup-tip-color: var(--light-color-2);
 
  --content-font-size: clamp(0.87rem, calc(0.83rem + 0.195vw), 1rem);
  --imageblock-border-width: 0.15rem;
  --popup-tip-content: "（空白部分をクリックしてウィンドウを閉じる）";
 
  --vote-cancel-mask: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 779.53 779.53'%3E%3Cpolygon points='779.53 665.37 503.93 389.77 779.53 114.17 665.37 0 389.77 275.6 114.17 0 0 114.17 275.6 389.77 0 665.37 114.17 779.53 389.77 503.93 665.37 779.53 779.53 665.37'/%3E%3C/svg%3E");
  --vote-plus-mask: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 872.37 872.37'%3E%3Cpolygon points='872.37 341.18 531.2 341.18 531.2 0 341.18 0 341.18 341.18 0 341.18 0 531.2 341.18 531.2 341.18 872.37 531.2 872.37 531.2 531.2 872.37 531.2 872.37 341.18'/%3E%3C/svg%3E");
  --vote-minus-mask: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 872.37 190.02'%3E%3Crect x='444.99' y='103.81' width='190.02' height='872.37' transform='translate(-103.81 635.01) rotate(-90)'/%3E%3C/svg%3E");
  --vote-info-mask: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 432.1 810.25'%3E%3Cpath d='M324,917.73v-139H491.5V493.71H346V355.77H615v423H756.05v139ZM544.41,266.88q-36.17,0-57.76-21.46T465,187.18q0-36.78,21.61-58.24t57.76-21.46q36.15,0,57.76,21.46t21.6,58.24q0,36.78-21.6,58.24T544.41,266.88Z' transform='translate(-323.95 -107.48)'/%3E%3C/svg%3E");
}