@import url("http://cdnjs.cloudflare.com/ajax/libs/cc-icons/1.2.1/css/cc-icons.min.css");
 
:root {

    /* Backrooms JP における Ratingmodule のスタイル変数 */
 
    --rating-background-color: var(--general-light-background-color);
    --rating-border-color: var(--general-dark-border-color);
    --rating-text-color: var(--general-light-text-color);
    --rating-rateup-color: var(--accept-color);
    --rating-ratedown-color: var(--warning-color);
    --rating-cancel-color: var(--cancel-color);
    --rating-rateup-text-color: var(--accept-text-color);
    --rating-ratedown-text-color: var(--warning-text-color);
    --rating-cancel-text-color: var(--neutral-text-color);
 
    --rating-module-button-color: var(--rating-text-color);
    --rating-module-button-mask: var(--vote-plus-mask);
    --rating-module-button-color: var(--rating-rateup-text-color);
 
    --rating-background: rgba(var(--rating-background-color));
    --rating-font: var(--body-font);
 
    /* Backrooms JP における CreditRateModule のスタイル変数 */
 
    --rating-info-color: var(--dark-color-3);
    --rating-info-text-color: var(--light-color-2);
 
    /* Backrooms JP における Creditmodal のスタイル変数 */
 
    --creditmodal-fader-color: var(--popup-fader-color);
    --creditmodal-fader-blur: var(--general-blur);
    --creditmodal-background-color: var(--popup-background-color);
    --creditmodal-text-color: var(--popup-text-color);
    --creditmodal-title-background: rgba(var(--popup-title-background-color));
    --creditmodal-title-text-color: var(--popup-title-text-color);
    --creditmodal-border: rgba(var(--popup-border-color)) solid 0.2rem;
    --creditmodal-tip-color: var(--popup-tip-color);
    --creditmodal-tip-content: var(--popup-tip-content);
    --creditmodal-content-font-size: var(--content-font-size);
    --creditmodal-title-font: var(--title-font);
}
 
 
/* 通常の評価モジュール */
 
 
ul.creditRate {
    margin: 0;
    display: block;
    padding: 0;
}
 
.creditRate > li {
    line-height: 1.5;
}
 
div.page-rate-widget-box {
    display: inline-flex;
    background: rgba(var(--rating-background-color));
    color: rgba(var(--rating-text-color));
    border: none;
    padding: 0;
    margin: 0.2rem 0;
    border-radius: 0;
    border-bottom: rgba(var(--rating-border-color)) solid 0.15rem;
}
 
div.page-rate-widget-box .rate-points {
    color: rgba(var(--rating-text-color));
    background: transparent;
    display: flex;
    align-items: center;
    font-size: 0.7rem;
    padding: 0 0.5rem;
    grid-gap: 0.1rem;
}
 
div.page-rate-widget-box .rate-points .number {
    font-size: 1rem;
}
 
div.page-rate-widget-box .btn {
    width: 1.6rem;
    height: 1.6rem;
}
 
div.page-rate-widget-box a {
    background: transparent;
    text-decoration: none;
    border: none;
    font-family: var(--rating-font);
    font-size: 0;
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0;
    transition: background-color var(--general-transition-time-slow);
    margin: 0;
}
 
div.page-rate-widget-box a::before {
    --rating-module-button-mask: none;
    --rating-module-button-color: var(--rating-text-color);
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    -webkit-mask-image: var(--rating-module-button-mask);
            mask-image: var(--rating-module-button-mask);
    -webkit-mask-position: center;
            mask-position: center;
    -webkit-mask-size: 40%;
            mask-size: 40%;
    -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
    background: rgba(var(--rating-module-button-color));
}
 
div.page-rate-widget-box .rateup a:is(:hover) {
    background: rgba(var(--rating-rateup-color));
}
 
div.page-rate-widget-box .rateup a::before {
    --rating-module-button-mask: var(--vote-plus-mask);
}
 
div.page-rate-widget-box .rateup a:is(:hover)::before {
    --rating-module-button-color: var(--rating-rateup-text-color);
}
 
div.page-rate-widget-box .ratedown a:is(:hover) {
    background: rgba(var(--rating-ratedown-color));
}
 
div.page-rate-widget-box .ratedown a::before {
    --rating-module-button-mask: var(--vote-minus-mask);
}
 
div.page-rate-widget-box .ratedown a:is(:hover)::before {
    --rating-module-button-color: var(--rating-ratedown-text-color);
}
 
div.page-rate-widget-box .cancel a:is(:hover) {
    background: rgba(var(--rating-cancel-color));
}
 
div.page-rate-widget-box .cancel a::before {
    --rating-module-button-mask: var(--vote-cancel-mask);
}
 
div.page-rate-widget-box .cancel a:is(:hover)::before {
    --rating-module-button-color: var(--rating-cancel-text-color);
}
 
 
/* クレジット付き評価モジュール */
 
 
.creditRate {
    float: right;
}
 
.creditRate .rateBox {
    display: inline-flex;
}
 
div.rate-box-with-credit-button {
    display: inline-flex;
    background: rgba(var(--rating-background-color));
    color: rgba(var(--rating-text-color));
    border: none;
    padding: 0;
    margin: 0.2rem 0;
    border-radius: 0;
    border-bottom: rgba(var(--rating-border-color)) solid 0.15rem;
}
 
div.rate-box-with-credit-button div.page-rate-widget-box,
div.creditButton p {
    display: contents;
    border: none;
}
 
div.rate-box-with-credit-button div.creditButton {
    display: block;
}
 
div.rate-box-with-credit-button div.creditButton {
    width: 1.6rem;
    height: 1.6rem;
}

@supports (display:grid) {
    .page-rate-widget-box .rate-points,
    .page-rate-widget-box .rateup,
    div.page-rate-widget-box .rateup a,
    .page-rate-widget-box .ratedown,
    div.page-rate-widget-box .ratedown a,
    .page-rate-widget-box .cancel,
    div.page-rate-widget-box .cancel a {
        background-color: unset;
        border: unset;
    }
}

div.creditButton a {
    background: transparent;
    text-decoration: none;
    border: none;
    font-family: var(--rating-font);
    font-size: 0;
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0;
    transition: background-color var(--general-transition-time-slow);
    margin: 0;
}
 
div.creditButton a::before {
    --rating-module-button-mask: var(--vote-info-mask);
    --rating-module-button-color: var(--rating-text-color);
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    -webkit-mask-image: var(--rating-module-button-mask);
            mask-image: var(--rating-module-button-mask);
    -webkit-mask-position: center 40%;
            mask-position: center 40%;
    -webkit-mask-size: 27.5%;
            mask-size: 27.5%;
    -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
    background: rgba(var(--rating-module-button-color));
}
 
div.creditButton a:is(:hover) {
    background: rgba(var(--rating-info-color));
}
 
div.creditButton a:is(:hover)::before {
    --rating-module-button-color: var(--rating-info-text-color);
}
 
div.creditRate + br + span[style*="margin-top: -0.7rem"] {
    margin: -0.2rem 0.5rem 0.2rem 0 !important;
    font-weight: 500;
    font-size: 0.9em;
}
 
@-webkit-keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
 
 
/* ノンレートクレジット付き評価モジュール */
 
 
@supports (display:grid) {
#page-content  .creditRate.no-rate .rate-box-with-credit-button {
    background: none;
    border: none;
    box-shadow: none;
    height: 3em;
    justify-content: flex-end;
}
}
 
@supports (display:grid) {
    #page-content .creditRate.no-rate .rate-box-with-credit-button>.page-rate-widget-box {
        display: none;
    }
}
 
.creditRate.no-rate .rate-box-with-credit-button .creditButton {
    width: 9rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
 
#page-content .creditRate.no-rate .rate-box-with-credit-button>.creditButton:hover {
    background: none;
}
 
.creditRate.no-rate .creditButton a {
    display: inline-flex;
    background: rgba(var(--rating-background-color));
    color: rgba(var(--rating-text-color));
    border: none;
    padding: 0;
    margin: 0.2rem 0;
    border-radius: 0;
    border-bottom: rgba(var(--rating-border-color)) solid 0.15rem;
    align-items: center;
    flex-direction: row-reverse;
}
 
.creditRate.no-rate .creditButton a:is(:hover) {
    background: rgba(var(--rating-info-color));
}
 
.creditRate.no-rate div.creditButton a::before {
    width: 1.6rem;
}
 
.creditRate.no-rate .creditButton a:after {
    content: "クレジットを表示";
    font-size: 0.8rem;
    font-weight: 600;
    color: rgba(var(--rating-text-color));
    text-align: center;
    margin: 0 auto 1px auto;
}
 
.creditRate.no-rate div.creditButton a:is(:hover)::before,
.creditRate.no-rate div.creditButton a:is(:hover)::after {
    color: rgba(var(--rating-info-text-color));
}
 
 
/* クレジット付き評価モジュール modalbox */
 
 
#u-credit-view,
#u-credit-otherwise {
    width: 100%;
    height: 100%;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    z-index: 10;
}
 
#u-credit-view:not(:target),
#u-credit-otherwise:not(:target) {
    opacity: 0;
    display: none;
}
 
#u-credit-view:target,
#u-credit-otherwise:target {
    opacity: 1;
    display: block;
    animation-duration: 0.5s;
    animation-name: fade-in;
    -moz-animation-duration: 0.5s;
    -moz-animation-name: fade-in;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-name: fade-in;
}
 
.fader {
    position: absolute;
    background-color: rgba(var(--creditmodal-fader-color));
    -webkit-backdrop-filter: blur(var(--creditmodal-fader-blur));
    backdrop-filter: blur(var(--creditmodal-fader-blur));
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
 
.fader iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
 
div.modalcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    max-width: unset;
    pointer-events: none;
}
 
div.modalbox {
    max-height: unset;
    max-width: 80ch;
    top: initial;
    left: initial;
    position: relative;
    flex-basis: calc(100% - 2rem);
    background: rgba(var(--creditmodal-background-color));
    box-sizing: border-box;
    border: var(--creditmodal-border);
    color: rgba(var(--creditmodal-text-color));
    border-radius: 0;
    box-shadow: unset;
    padding: 0;
    pointer-events: auto;
    font-size: var(--creditmodal-content-font-size);
}
 
@supports (display:grid) {
    #page-content div.modalbox {
        max-width: 80ch;
    }
}
 
div.modalbox::after {
    position: absolute;
    border: none;
    margin: 0;
    padding: 0;
    width: 5rem;
    height: 2.5rem;
    bottom: -2.2rem;
    right: 0;
    width: 100%;
    background: transparent;
    color: rgba(var(--creditmodal-tip-color));
    display: flex;
    font-weight: 700;
    justify-content: center;
    align-items: flex-end;
    content: var(--creditmodal-tip-content);
    font-size: 0.8rem;
    pointer-events: none;
}
 
div.modalbox > hr {
    display: none;
}
 
div.modalbox .modalbox-title {
    background: var(--creditmodal-title-background);
    padding: 0.5rem 1rem;
    text-align: left;
    display: block;
    line-height: 1.5;
}
 
div.modalbox .modalbox-title h2 {
    margin: 0;
    font-size: 1.25rem;
    color: rgba(var(--creditmodal-title-text-color));
    font-family: var(--creditmodal-title-font);
}
 
div.modalbox .credit {
    padding: 0.5rem 1rem;
    margin: 0;
    overflow-y: auto;
    height: auto;
}
 
div.modalbox .credit:nth-child(2) {
    padding: 0.5rem 1rem;
    margin: 0;
    max-height: 47.5vh;
    overflow-y: auto;
    height: auto;
    min-height: 5rem;
}
 
#u-credit-view-button {
    display: block;
    text-align: right;
}
 
.modalbox .modalbox-ratemodule {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5em 0;
}
 
.modalbox .modalbox-ratemodule .page-rate-widget-box {
    display: flex;
}
 
div.creditBottomRate {
    height: auto;
    border-top: rgba(var(--modalbox-text-color), 0.18) solid 0.15rem;
    padding: 0.5rem 0;
}
 
div.creditBottomRate div.page-rate-widget-box {
    background: rgba(var(--creditmodal-title-text-color));
}
 
.creditRate.creditModule.no-rate ~ #u-credit-view .creditBottomRate > div:nth-of-type(2),
.creditRate.creditModule.no-rate ~ #u-credit-otherwise .creditBottomRate > div:nth-of-type(2) {
    display: none;
}
 
#u-credit-view .credit-back {
    display: none;
}
 
.credit-license {
    width: 100%;
    height: 5px;
    display: flex;
    justify-content: flex-end;
}
 
.credit-license a.cc {
    margin-right: 1em;
    font-size: 30px;
    color: #444;
    text-decoration: none;
}
 
@media (max-width: 479px) {
    .credit-license {
        margin-top: 4px;
        height: 1.5px;
    }
    .credit-license a.cc {
        font-size: 20px;
    }
}